        .header {
            height: 100px;
        }


        #hero{
            height: 300px;
            width: auto;
        }


        .footer img {
            width: 50px;
            height: auto;
        }


        .footer div {
            height: max-content;
            padding: 0;
        }


        .hidden {
            display: none;
        }


        .footer {
            height: 100px;
            background-color: #00441b;
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            width: 100%; 
            padding: 0; 
        }


        .footer img {
            height: 50px; 
            margin: 0 15px;
        }



        .mobile-container{
            width: 390px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 844px;
            border: 2px solid black;
            background-color: #e5f5e0;
            overflow-y: auto;
            border-radius: 25px;
        }
        

        @media (min-width: 768px) {
            .mobile-container {
                height: 95vh;
                border: 2px solid black;
            }
            #hero{
                height: 300px;
                width: auto;
            }
        }

        @media (min-width: 1024px) {
            .mobile-container {
            width: 400px;
            }
        }


        #result {
            transition: opacity 0.5s ease-in;
            padding: 15px;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.5); 
        }

        .footer-btn {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0; 
        }

        .footer-btn img {
            width: 50px; 
            height: 50px;
            object-fit: contain;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }